# ====================================
# Git Ignore - Projeto Python/Streamlit
# ====================================

# Arquivos de ambiente / credenciais
.env
*.key
*.pem
*.secrets.toml 


# ====================================
# Fim do .gitignore
# ====================================
